<html>
  <head></head>
  <body>
    <h1>All Albums</h1>
    <% @albums.each do |album| %>
      <div>
        Title: <%= album.title %> | 
        Released: <%= album.release_year %>
      </div>
    <% end %>
  </body>
</html>