<html>
  <head></head>
  <body>
    <form action="/artists" method="POST">
      Artist name:
      <input type="text" name="name">
      </br>
      Genre:
      <input type="text" name="genre">
      </br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>